<form method="POST" action="/publicacoes/editar/<%= publicacao.id %>">
    <input type="text" placeholder="Insira o título da publicação" name="publicacao_titulo" id="" value="<%= publicacao.titulo %>">
    <input type="text" placeholder="Insira o texto da publicação" name="publicacao_texto" id="" value="<%= publicacao.texto %>">
    <button >Salvar</button>
</form>