<a href="/publicacoes/nova">Nova Publicação</a> <br>
<% publicacoes.forEach(publicacao => { %>
    <h1><%= publicacao.titulo %></h1>
    <p><%= publicacao.texto %></p>
    <hr>
    <a href="/publicacoes/editar/<%= publicacao.id%>">Editar</a> | 
    <a href="/publicacoes/excluir/<%= publicacao.id%>">Excluir</a> <br>
<%})%>