<form method="POST" action="/publicacoes/nova">
    <input type="text" placeholder="Insira o título da publicação" name="publicacao_titulo" id="">
    <input type="text" placeholder="Insira o texto da publicação" name="publicacao_texto" id="">
    <button >Salvar</button>
</form>